/*----------------- NAVBAR ----------------- */
.navbar {
    width: min(1380px, 100%);
    height: 7.2rem;
    background: var(--primary_color);
    display: flex;
    justify-content: space-between;
    padding: .9rem 10rem;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--text_details);
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.3));
    position: fixed;
    z-index: 1000;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: var(--text_light);
    font-family: 'Poppins', sans-serif;

}

.navbar a:hover {
    background: var(--primary_color);
    color: var(--text_details);
    transition: ease .7s;
}

.navbar a.brand img {
    width: 7rem;
    height: 7rem;
}



/*------------------ HERO --------------------- */

.hero {
    width: min(138rem, 100%);
    max-width: 1380px;
    display: flex;
    flex-direction: row;
    padding: 9rem 10rem 0 10rem;

}

.hero_caption {
    flex: 1;
    margin-top: 6rem;
    position: relative;
}

.hero_caption h2 {
    font-size: 8.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: .2rem;
    color: var(--text_tile);
    line-height: 8rem;

}

.hero_caption span {
    font-size: 2.5rem;
    font-weight: 700;
    display: block;
    margin: 1rem;

}

.hero_caption p {
    font-size: 1.7rem;
    line-height: 2rem;
    letter-spacing: 1.5px;
    margin: 2rem 0 1.5rem 0;
    font-family: 'Poppins', sans-serif;
    padding: .9rem;
}
.box_social {
    display: flex;
    align-items: center;
    color: var(--text_dark);
}

.box_social a {
    color: var(--text_black);
    font-size: 1.5rem;
}

.box_social a:hover {
    color: var(--text_hover);
    transition: color .3s;
}

.box_social img {
    margin-right: 1.6rem;
}

.hero_images {
    flex: 2;
    margin-top: 2rem;
}
.hero_images span {
    color: var(--text_light);
}

.box_opacity {
    position: absolute;
    background: rgba(0, 0, 0, .4);
    width: 100%;
    min-height: 99%;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: ease 1s;
}

.box_opacity:hover {
    transition: ease 1s;
    background: rgba(0, 0, 0, .9);
}
.box_opacity_true {
    position: absolute;
    background: rgba(0, 0, 0, .1);
    width: 100%;
    min-height: 99%;
    top: 0;
    left: 0;
    transition: ease 1s;
}

.box_opacity span {
    writing-mode: vertical-rl;
    text-transform: uppercase;
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 1.8px;
}

.card_my {
    background: var(--body_bg_color);
    margin-top: 3.5rem;
    box-shadow: none;
}

.card_my div {
    padding: .5rem;
    font-size: .95rem;
}

/*-------------------------- ABOUT --------------------------*/
#about {
    margin: 8rem 0;
    padding: 8rem 0;
    background: var(--primary_color);
}

.about_image {
    position: relative;
}

.block {
    width: 4rem;
    min-height: 9rem;
    background: var(--text_details);
    position: absolute;
    top: 2rem;
    right: -2rem;
    z-index: 1000;
}

.block.small {
    width: 4rem;
    min-height: 9rem;
    background: var(--text_details);
    position: absolute;
    top: 3rem;
    right: 1rem;
    z-index: 1000;
}

.about_content {
    padding-left: 3rem;
}

.about_content h2 {
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    color: var(--text_details);
    margin-bottom: 3rem;
}

.about_content p {
    font-size: 1.6rem;
    color: var(--text_light);
}

/*--------------------------- SERVICES ----------------------------- */
#services {
    margin: 8rem 0;
    padding: 8rem 0;
}

.box_service {
    display: flex;
    flex-direction: column;
}

.service_item {
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    border-bottom: 2px solid var(--text_light);
    padding-bottom: 2rem;
}

.service_icon {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background: var(--primary_color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.service_icon i {
    color: var(--text_details);
    font-size: 3rem;
}

.service_caption {
    margin-left: 2rem;
}

.service_caption span {
    font-size: 2.8rem;
    cursor: pointer;
    transition: color .3s;
}

.service_caption span:hover {
    color: var(--text_hover);
}

.tab_services {
    display: none;
}

.tab_services figure {
    padding: 2rem;
    margin-top: -2rem;
    filter: drop-shadow(2px 6px 6px rgba(0, 0, 0, 0.4));
}

.tab_services h2 {
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    color: var(--text_tile);
    margin-bottom: 3rem;
}

.tab_services button {
    margin-top: 2rem;
}

.slide_box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.slide_box img {
    width: 20%;
}


.owl-dot {
    background: var(--bg_techs);
}
/* --------------------------------INSPIRATION ----------------------------- */
#inspiration {
    background: var(--primary_color);
    margin: 8rem 0;
    padding: 8rem 0;
}


.inspiration_image {
    position: relative;
    filter: drop-shadow(4px 8px 8px rgba(0, 0, 0, 0.4));
}

.inspiration_caption {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 50vh;
    flex-direction: column;
    padding-top: 5rem;

}


.inspiration_caption h3 {
    font-size: 2.5rem;
    margin-left: -15rem;
    color: var(--text_light);
}

.inspiration_caption span {
    font-size: 7rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 2.8px;
    position: absolute;
    right: -12rem;
    top: 15rem;
    z-index: 999;
    color: var(--text_details);
}

#inspiration .product_slide {
    margin-top: 22rem;
}

.inpiration_products {
    display: flex;
    margin-top: 1rem;
}

.inpiration_products figure {
    margin-right: 3rem;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.4));
}

#contact{
    margin: 6rem 0;
    padding: 6rem 0;
}
.contact_labels{
    padding-right: 3rem;
}
.contact_labels span{
   color: var(--text_grey);
}
.contact_labels h2{
   color: var(--text_tile);
   font-weight: 400;
   font-family: 'Poppins', sans-serif;
   font-size: 3rem;
   margin-top: 2rem;
}
.contact_labels p{
    margin: 2rem 0 4rem 0;
}
.box_contact_item{
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
.contact_icon{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--primary_color);

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text_details);
    margin-right: 1rem;
}
.box_contact_item span{
    color: var(--text_tile);
}
.form_contact{
    background: var(--primary_color);
    padding: 3rem;
    border-radius: .8rem;
}
.form_contact span{
    color: var(--text_light);
    font-size: 1.6rem; 
    font-weight: 100;
}
.form_contact .label{
    color: var(--text_light);
    font-size: 1.4rem; 
    font-weight: 600;
    letter-spacing: .1rem;
}  
.form_contact h2{
    color: var(--text_details);
   font-weight: 400;
   font-family: 'Poppins', sans-serif;
   font-size: 3rem;
   margin-top: 2rem;
} 
.contact_map{
    width: 100%;
    min-height: 45rem;
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.contact_map .ball{
    width: 30rem;
    height: 30rem;

    background: var(--text_grey);
    position: absolute;
    top: 4rem;
    right: 0;

    clip-path: circle();

    opacity: 0.15;
}
.contact_map .ball_small{
    width: 20rem;
    height: 20rem;

    background: var(--text_grey);
    position: absolute;
    top: 8rem;
    left: 0rem;

    clip-path: circle();

    opacity: 0.15;
}
.contact_map h2{
    color: var(--text_tile);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    margin: 2rem 0;
}
.contact_map span{
    color: var(--text_grey);
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    margin: 1rem 0 4rem 0;
}
.contact_map iframe{
    width: 100%;
    min-height: 45rem;;
}



#specials {
    padding-top: 5rem;
}

#specials h2 {
    font-size: 3rem;
    /* margin-left: 1rem; */
    font-family: 'Merriweather Sans', sans-serif;
    margin-bottom: 3rem;

}

.box_card {
    display: flex;
    align-items: center;
    padding: .2rem 0;
}

.box_card h3 {
    font-weight: 700;
    color: var(--text_color);
    font-size: 1.2rem;
    margin-top: .5rem;
    max-width: 25ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.box_card span {
    color: var(--text_dark);
}

.box_card a {
    color: var(--text_color);
    font-weight: 400;
    display: flex;
    align-items: center;
}

.box_card a:hover {
    color: var(--bg_techs);
}

.box_card a i {
    font-size: 2rem;
    margin-left: 1rem;
}
