/* :root{
        --body_bg_color: #22212C;
        --text_color: #d1cee1;
        --bg_cards: #302F3D;
        --bg_techs: #CB92B1;
        --amber: #fbdd57;   
        --text_dark: #837e9f;
}

:root{
        --body_bg_color: #2979ff;
        --text_color: #0a0833;
        --bg_cards: #302F3D;
        --bg_techs: #CB92B1;
        --amber: #fbdd57;   
        --text_dark: #837e9f;
        --primary_color:#283593;
        --light_text:#f0eef6;
} */

:root{
        --primary_color: #083c9b;
        --text_light:  #f9fbe7;
        --text_grey: #837e9f;
        --text_black: #263238;
        --text_details: #fbdd57;
        --text_hover: #CB92B1;
        --text_tile: #021535;


        --bg-light: #fafafa;

}

